<ion-view title="Smart Assist">
  <ion-content overflow-scroll="false" padding="true" class="has-header">
    <!--        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>-->
    <div id="container">
      <div id="map" ng-hide=isLoaded data-tap-disabled="true"></div>
      <!--<div id="over_map">-->
        <!--<button class="button button-icon button-standard icon-right ion-android-locate button-full"-->
                <!--ng-click="focusCurrentLocation()"></button>-->
      <!--</div>-->
      <!--<div id="parkOptions" ng-switch on="parkStatus()">-->
        <!--<div id="park" class="button-bar" ng-switch-when="false">-->
          <!--<button class="button button-royal button-block button-large icon-right ion-pin button-full"-->
                  <!--ng-click="parkVehicle()">Park-->
          <!--</button>-->
        <!--</div>-->
        <!--<div id="locateVacate" class="button-bar" ng-switch-when="true">-->
          <!--<button class="button button-calm button-block button-large icon-right ion-model-s button-full"-->
                  <!--ng-click="navigateToCar()">Locate-->
          <!--</button>-->
          <!--<button class="button button-energized button-block button-large icon-right ion-paper-airplane"-->
                  <!--ng-click="vacate()">Vacate-->
          <!--</button>-->
        <!--</div>-->
      <!--</div>-->
  </ion-content>
</ion-view>
